<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row border-bottom border-secondary">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-2 pt-1">
                        <img src="{% static 'images/logo.png' %}" alt="" class="w-100">
                    </div>
                    <div class="col-6">
                        <h2>Book Proj</h2>
                    </div>
                    <div class="col-4 align-bottom">
                        <b><big class="float-right text-info">Welcome {{request.user}}</big></b>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 pr-5">
                <h5>
                    <a href="/app/signup" class="float-right border border-primary rounded-lg p-3">SignUp</a>
                    <a href="/accounts/logout" class="float-right mr-3 border border-primary rounded-lg p-3">Logout</a>
                    <a href="/accounts/login" class="float-right mr-3 border border-primary rounded-lg p-3">SignIn</a>
                </h5>
            </div>
        </div>
        <div class="row border-bottom border-secondary py-2">
            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/app/index" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/app/books" class="nav-link">Books</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% block main_block%}
                {% endblock %}
            </div>
        </div>
        <div class="row fixed-bottom pl-3">
            <div class="col border border-danger">
                <h6 class="mt-1">&copy; Book Proj since 1200AD</h6>
            </div>
        </div>
    </div>
</body>
</html>